<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web_1="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sprss</display-name>
  <web_1:welcome-file-list>
    <web_1:welcome-file>requisition</web_1:welcome-file>
    <web_1:welcome-file>index.html</web_1:welcome-file>
    <web_1:welcome-file>index.htm</web_1:welcome-file>
    <web_1:welcome-file>index.jsp</web_1:welcome-file>
    <web_1:welcome-file>default.html</web_1:welcome-file>
    <web_1:welcome-file>default.htm</web_1:welcome-file>
    <web_1:welcome-file>default.jsp</web_1:welcome-file>
  </web_1:welcome-file-list>
  <web_1:filter>
    <web_1:filter-name>LoginFilter</web_1:filter-name>
    <web_1:filter-class>filter.LoginFilter</web_1:filter-class>
  </web_1:filter>
  <web_1:filter-mapping>
    <web_1:filter-name>LoginFilter</web_1:filter-name>
    <web_1:url-pattern>/requisition</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter-mapping>
    <web_1:filter-name>LoginFilter</web_1:filter-name>
    <web_1:url-pattern>/pickinglist</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter-mapping>
    <web_1:filter-name>LoginFilter</web_1:filter-name>
    <web_1:url-pattern>/show</web_1:url-pattern>
  </web_1:filter-mapping>
  <web_1:filter-mapping>
    <web_1:filter-name>LoginFilter</web_1:filter-name>
    <web_1:url-pattern>/warehouse</web_1:url-pattern>
  </web_1:filter-mapping>
</web-app>